html, body {
  margin: 0;
}

body {
  background-image: url("https://i.pinimg.com/1200x/9f/86/f1/9f86f195892b6f3b797f8a7ad13ffff6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin-top: 60px;
}

ul {
  width: 50%;
  margin: auto;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(16, auto);
  grid-auto-columns: 300px;
  column-gap: 50px;
  padding: 0;
}

.container li {
  font-size: 16px;
  padding: 0 0 14px 0;
  font-weight: 500;
}

li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}

a:hover {
  color: rgb(30, 0, 255);
}

li a img {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}